@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  background-color: #303030;
  color: #fff;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222222;
  padding: 20px;
}
.header .title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}
.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 40px;
}
.header nav ul li {
  list-style: none;
  padding: 10px 40px;
  border: 1px solid #fff;
  font-weight: 300;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.header nav ul li:hover {
  scale: 1.05;
  color: rgb(245, 245, 207);
  border-color: rgb(245, 245, 207);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  max-width: 85%;
}

aside {
  margin-top: 300px;
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
aside form {
  border: 1px solid #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
aside form > * {
  padding: 10px;
  margin: 6px;
}
aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}